.nowrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}


.callout {
  padding-right: 24px;
}

.callout p {
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}
.callout[data-callout="quote"] {
  --callout-color: 200,200,200;
  --callout-icon: lucide-message-square;
}
.callout[data-callout="quote-r"] {
  --callout-color: 200,200,200;
  --callout-icon: lucide-message-square;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
.callout[data-callout="caution"] {
  --callout-color: var(--color-pink-rgb);
}
.callout[data-callout="caution-r"] {
  --callout-color: var(--color-pink-rgb);
  --callout-icon: lucide-alert-triangle;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
.callout[data-callout="tip"] {
  --callout-color: 200,200,200;
  --callout-icon: lucide-flame;
}
.callout[data-callout="tip-r"] {
  --callout-color: 200,200,200;
  --callout-icon: lucide-flame;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.callout[data-callout="novice"] {
  --callout-color: var(--color-green-rgb);
  --callout-icon: lucide-sword;
}
.callout[data-callout="novice-r"] {
  --callout-color: var(--color-green-rgb);
  --callout-icon: lucide-sword;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.callout[data-callout="veteran"] {
  --callout-color: var(--color-green-rgb);
  --callout-icon: lucide-swords;
}
.callout[data-callout="veteran-r"] {
  --callout-color: var(--color-green-rgb);
  --callout-icon: lucide-swords;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.callout[data-callout="gm"] {
  --callout-color: var(--color-cyan-rgb);
  --callout-icon: lucide-scale;
}
.callout[data-callout="gm-r"] {
  --callout-color:  var(--color-cyan-rgb);
  --callout-icon: lucide-scale;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.callout[data-callout="calc"] {
  --callout-color: 180,180,180;
  --callout-icon: lucide-calculator;
}
.callout[data-callout="calc-r"] {
  --callout-color: 180,180,180;
  --callout-icon: lucide-calculator;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.callout[data-callout="eg"] {
  --callout-color: 180,180,180;
  --callout-icon: lucide-test-tubes;
}
.callout[data-callout="eg-r"] {
  --callout-color: 180,180,180;
  --callout-icon: lucide-test-tubes;
  width: 50%;
  max-width: 50%;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}


.float-right {
  float: right;
}
